*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 
body{
    width: 100%;
    min-height: 100vh;
    background-image: url(img-2.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.todo-list{
    width: 500px;
    height: 300px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 5px white;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.todo-list h1{
    color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.todo-list input{
    background-color:gray;
    color: #ffffff;
    margin-top: 20px;
    padding: 8px 0px 8px 10px;
    border-radius: 90px;
    border: 2px solid white;
    box-shadow: 1px 2px 4px white;
}
.todo-list input::placeholder{
    color: white;
}

.todo-list button{
    width: 120px; 
    background-color: rgb(55, 51, 51);
    color: white;
    margin-top: 45px; 
    margin-left: 140px; 
    padding: 5px 0px; 
    border-radius: 90px;
    font-weight: bold;
    box-shadow: 1px 2px 4px white;
    transition: all 0.3s ease-in-out; 
    cursor: pointer;
}

.todo-list button:hover{
    background-color: gray;
    transform: translateY(-2px) scale(1.03); 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); 
}
button:active {
    transform: translateY(0) scale(0.98); 
}

.todo-list-2{
    width: 500px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 5px white;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.todo-list-2 h1{
    color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.todo-list-2 h1 span{
    text-shadow: 0px 4px 5px white;
}

.alert{
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
} 

.alert p{
    margin: 0;
}

.users-container{
    width: 100%;
    min-height: 250px;
    overflow-y: auto;
}

.user-item {
    color: #ffffff; 
    background: rgba(255, 255, 255, 0.15); 
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
